{:paths ["src/dev"
         "src/main"]
 :deps {thheller/shadow-cljs {:mvn/version "2.11.25"}
        reagent/reagent {:mvn/version "1.0.0"}
        datascript/datascript {:mvn/version "1.0.7"}
        binaryage/devtools {:mvn/version "1.0.2"}
        nubank/workspaces {:mvn/version "1.0.16"}}
 
 :aliases {:jar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.0.216"}}
                 :exec-fn hf.depstar/jar
                 :exec-args {:jar "datalog-console.jar" :sync-pom true}}
           :install {:replace-deps {slipset/deps-deploy {:mvn/version "0.1.5"}}
                     :exec-fn deps-deploy.deps-deploy/deploy
                     :exec-args {:installer :local :artifact "datalog-console.jar"}}
           :deploy {:replace-deps {slipset/deps-deploy {:mvn/version "0.1.5"}}
                    :exec-fn deps-deploy.deps-deploy/deploy
                    :exec-args {:installer :remote :artifact "datalog-console.jar"}}}}