;; shadow-cljs configuration
{:deps true
 :builds {:workspaces {:target nubank.workspaces.shadow-cljs.target
                       :ns-regexp "-(test|cards)$"
                       :output-dir "public/js/workspaces"
                       :asset-path "/js/workspakces"
                       :compiler-options {:externs ["datascript/externs.js"]}
                       :preloads [] ; optional, list namespaces to be pre loaded
                       :devtools {:http-root "public"
                                  :http-port 8084
                                  :http-resource-root "."
                                  :devtools-url "http://localhost:9632"}}
          :chrome {:target :chrome-extension
                   :compiler-options {:closure-output-charset "US-ASCII"
                                      :externs ["datascript/externs.js"]}
                   :extension-dir "shells/chrome"
                   :devtools {:devtools-url "http://localhost:9632"}}
          :chrome-devtool {:target           :browser
                           :output-dir       "shells/chrome/js/devtool"
                           :asset-path       "js/devtool"
                           :compiler-options {:closure-output-charset "US-ASCII"
                                              :externs ["datascript/externs.js"]}
                           :devtools         {:devtools-url "http://localhost:9632"}
                           :modules          {:main {:entries [datalog-console.chrome.extension.devtool.main]}}}          }}
