{:deps {:aliases [:dev :test]}
 
 :http {:port 9610}

 :builds {:workspaces {:target nubank.workspaces.shadow-cljs.target
                       :ns-regexp "-(test|cards)$"
                       :output-dir "public/js/workspaces"
                       :asset-path "/js/workspaces"
                       :compiler-options {:externs ["datascript/externs.js"]}
                       :preloads [] ; optional, list namespaces to be pre loaded
                       :devtools {:http-root "public"
                                  :http-port 8084
                                  :http-resource-root "."
                                  :devtools-url "http://localhost:9610"}}

          :chrome {:target :chrome-extension
                   :compiler-options {:closure-output-charset "US-ASCII"
                                      :externs ["datascript/externs.js"]}
                   :extension-dir "shells/extension"
                   :devtools {:devtools-url "http://localhost:9610"}}

          :chrome-devtool {:target           :browser
                           :output-dir       "shells/extension/js/devtool"
                           :asset-path       "js/devtool"
                           :compiler-options {:closure-output-charset "US-ASCII"
                                              :externs ["datascript/externs.js"]}
                           :devtools         {:devtools-url "http://localhost:9610"}
                           :modules          {:main {:entries [datalog-console.extension.devtool]}}}
          
          :browser-test {:target :browser-test
                         :test-dir "resources/public/js/test"
                         :devtools {:http-port 8021 
                                    :http-root "resources/public/js/test"}}}}
