{:manifest_version        2
 :name                    "Datalog Console"
 :version                 "0.0.0"
 :description             "Datalog DB administration panel for the chrome console"
 :icons                   {"16"  "favicon.png"
                           "32"  "favicon.png"
                           "48"  "favicon.png"
                           "128" "favicon.png"}
 :shadow/outputs           {:content-script
                            {:chrome/options {:matches ["<all_urls>"]
                                              :run_at  "document_end" #_"document_idle"}
                             :entries        [datalog-console.chrome.extension.content-script.main]
                             ;;:init-fn        datalog-console.chrome.extension.content-script.main/init
                             }

                            :background
                            {:chrome/options {:persistent false}
                             ;:init-fn        datalog-console.chrome.extension.background.main/init}
                             :entries        [datalog-console.chrome.extension.background.main]}
                            }

 :permissions             ["file:///*" "http://*/*" "https://*/*"]
 :externally-connectable  {:ids ["*"]}
 :content-security-policy ["default-src 'self';"
                           "script-src 'self' 'unsafe-eval' http://localhost:9630;"
                           "connect-src * data: blob: filesystem:;"
                           "style-src 'self' data: chrome-extension-resource: 'unsafe-inline';"
                           "img-src 'self' data: chrome-extension-resource:;"
                           "frame-src 'self' data: chrome-extension-resource:;"
                           "font-src 'self' data: chrome-extension-resource:;"
                           "media-src * data: blob: filesystem:;"]
 :browser-action          {:default-icon  {"16"  "favicon.png"
                                           "32"  "favicon.png"
                                           "48"  "favicon.png"
                                           "128" "favicon.png"}
                           :default-popup "popups/disabled.html"}
 :devtools-page           "devtools.html"}